@model System.Collections.Generic.IEnumerable<GUI_Eksamen_Opgave2.Models.Joke>

@{
    ViewBag.Title = "Index";
}

<h2>Søg i vittigheder</h2>


@using (Html.BeginForm("Index", "Jokes", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-4">
            @Html.TextBox("SearchString", "", new { @class = "form-control", placeholder = "Søg i emner" })
        </div>
        <input type="submit" value="Søg" class="btn btn-default"/>
    </div>
}

<p>
    <br/>
    @Html.ActionLink("Tilføj ny vittighed", "Create", "", new {@class = "btn btn-default"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JokeText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Source)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tags)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JokeText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Source)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tags)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

